<ul>
  <li>Piotrek</li>
  <%= render 'ania'%>
  <%= render 'piotrek' %>
  <li>Ania</li>
  <li>Kuba</li>
  <li>Jędrek</li>
  <li> <%= render partial: 'Beata-partial' %></li>
  <li><%= render partial: 'karol_partial' %></li>
</ul>
