<div class="panel panel-default">
  <div class="panel-heading"><%= place.name %></div>
  <div class="panel-body">
    <%= image_tag place.icon, class: 'img-thumbnail' %>
    <%= place.vicinity %>
  </div>
</div>

